body {
  background-color: rgb(0, 255, 199);
  font-family: 'Markazi Text', serif;
  margin: 3rem 5%;
  display: grid;
  grid-template-areas:
    "head head head"
    "li li li"
    "one two three"
    "four four four" 
    "f c c";
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto;
}

header {
  grid-area: head;
  display: flex;
  justify-content: center;
  
}


header img {
  transition: transform 0.5s ease;
  animation: none;
  min-height: 250px;
}

@keyframes rotateLogo {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(20deg); }
  40% { transform: rotate(-20deg)  scale(0.7); }
  60% { transform: rotate(20deg); }
  80% { transform: rotate(-20deg)  scale(1.3);}
  90% { transform: rotate(0deg); }
  100% { transform: rotate(0deg) scale(1); }
}

header:hover img {
  animation: rotateLogo 1.3s linear;
}

nav {
  grid-area: li;
  list-style: none;
  text-align: center;
  background-color: rgb(97, 97, 97);
  border-radius: 50%;
  padding: 2%;
  margin-top: 30px;
  overflow: auto;
  max-height: 100px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-left: 5%;
 
}

nav li:hover{
  transform: scale(1.1);
}

nav a {
  color: rgb(0, 255, 199);
  font-weight: bold;
  text-decoration: none;
  height: auto;
}

nav a:hover {
  color: rgb(0, 255, 199);
}

nav a:active {
  color: rgb(3, 205, 0)
}

nav a:focus {
  outline: none;
}

h2 {
  font-size: medium;
  font-weight: 200;
}

#four {
  grid-area: four;
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: -45px;
  margin-right: -45px;
  padding-left: 30px;
  padding-right: 30px;

}

.background-image {
  background-image: url("grass.jpg");
  background-size:auto;
  background-position: center;
  color: white;
  min-width: 600px;
}

.background-image .content {
  padding: 20px;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#one,
#two,
#three{
  margin-right: 70px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.paragraphs {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 100px;
  padding-bottom: 100px;
  max-width: 300px;
}

.paragraphs img{
  max-width: 300px;
}

#one:hover,
#two:hover,
#three:hover{
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

footer {
  grid-area: f;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center;
}
#copyright {
  grid-area: c;
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: rgb(0, 0, 0);
}
.left-column {
  justify-self: start; 
  padding-right: 20px;
}

.left-column img {
  width: 40px; 
}

.right-column {
  justify-self: end; 
}

.right-column p {
  color: black;
  margin: 0;
}








